<div class="d-inline-flex p-2 bd-highlight">
    PRODUTOS
</div>

<!--Imagens de produtos-->


<div class="container-3">
    <div class="row">
        <div class="card">
            <img src="https://images-americanas.b2w.io/produtos/01/00/img/46482/9/46482988_1GG.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Xbox One X</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="/imagens/nintendo.png" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nintendo Switch</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="/imagens/ps5.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Playstation 5</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


        <div class="card">
            <img src="/imagens/tecladogamer.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Teclado Gamer</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="/imagens/pc gamer.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Gamer</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="/imagens/xbox.png" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Xbox One X</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>